.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color:purple;
}
.buy-now-button{
    background-image: linear-gradient( to bottom,skyblue,purple );
    color: white;
    border: none;
    border-radius:8px;
    padding: 9px 25px;
    cursor:pointer;
}
.container{
    width: 92.7%;
    padding-left: 110px;
    margin-top: 25px;
}
.cat1{
    background-image: linear-gradient( to bottom,blue,gray);
    padding: 10px 20px;
    border-radius: 7px;
}
.cat2{
    background-color: orchid;
    padding: 10px 20px;
    border-radius: 7px;
}
.cat3{
    background-color: skyblue;
    padding: 10px 20px;
    border-radius: 7px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.shoe-section{
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.shoe-section h3{
    font-size: 45px;
}
.card-container{
    width: 92.7%;
    padding-left: 200px;
}
.bags-container{
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.bags-container h3{
    font-size: 45px;
}
.contain-last{
    width: 79.7%;
    background-color: beige;
    padding-left: 500px;
    margin-left: 200px;
    margin-top: 40px;
    padding-top: 75px;
    padding-bottom: 75px;
    border-radius: 25px;
}
footer{
    text-align: center;
}
